*{
	padding:0px;
	margin:0px;
}

html{
    background-image:url("images/landscape.png");
    background-repeat:no-repeat;
    background-size:100%;
    text-align:center;
    background-attachment:fixed;
}

body{
	margin-top:30px;
    background-color:white;
    width:40%;
    margin-left:auto;
    margin-right:auto;
    border-style:solid;
    border-width:2px;
    border-radius:20px;
	-moz-border-radius: 20px;
    overflow:auto;
    text-align:center;
}

/*CONTROL PANEL*/
#controlPanel{
  text-align: left;
  line-height:1.5em;
  margin-bottom:10px;
}

#menu{
	margin-left:5px;
}

#controlPanel > h2{
	margin-bottom:23px;
	margin-left:20px;
	margin-top:10px;
	font-family:verdana;
	font-size: 1.2em;
}

#controlPanel > #menu > li > a{
  text-decoration: none;
  color:transparent;
}

#controlPanel > #menu > li {
  list-style-type: none;
  display:inline;
}

#logout_button{
  background-image: url("images/logout_icon.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  padding:1.5em;
}

#poll_create_button{
  background-image: url("images/button.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  padding:1.5em;
}

#profile_button{
  background-image: url("images/profile_icon.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  padding:1.5em;
}
/*END CONTROL PANEL*/


#title{
    text-align:center;
    border-bottom: 4px groove;
    border-top: 4px groove;
    padding-bottom:15px;
    padding-top:15px;
    line-height:1em;
    font-family:verdana;
    margin-bottom:20px;
}

#description{
    text-align:center;
    font-style:italic;
    font-size:1.2em;
    margin-top:10px;
    margin-bottom:10px;
}

#poll{
    margin-bottom:10%;
}

.questionField{
    border-radius:20px;
	-moz-border-radius: 20px;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1em;
    padding-bottom: 1.5em;
}

.questionField > legend{
    padding-right:10px;
    padding-left:10px;
    margin-bottom:1em;
}

.choice_item{
    text-align: left;
    width:50%;
}

#logout_button:hover,
#profile_button:hover,
#poll_create_button:hover{
  outline: none;
  border-color:blue;
  box-shadow: 0 0 10px blue;
  border-radius: 15px;
}

#controlPanel > span > h2{
	text-align:right;
	margin-right:20px;
	font-style:italic;
	margin-top:-10px;
}

#questions > fieldset > div{
	width:80%;
	margin-right:auto;
	margin-left:auto;
}

.choice_item{
	margin-bottom:10px;
}

.choice_item > input{
	margin-right:10px;
}

#poll_answer > input[type="submit"]{
	padding:5px;
}




